h2.page-header Account Login
div
    .alert.alert-success(ng-if="successMsg") {{ successMsg }}

.content
    form(method='post', action='/user/login')
        .form-group
            label Username
            input.form-control(type='text', name='username', placeholder='username')
        .form-group
            label Password
            input.form-control(type='password', name='password', placeholder='password')
        button.btn.btn-default(type='submit') LogIn