body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.header, .marketing, .footer {
    padding-right: 15px;
    padding-left: 15px
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px
    }
}

.container-narrow > hr {
    margin: 30px 0
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px
}

.marketing {
    margin: 40px 0
}

.marketing p + h4 {
    margin-top: 28px
}

@media screen and (min-width: 768px) {
    .header, .marketing, .footer {
        padding-right: 0;
        padding-left: 0
    }

    .header {
        margin-bottom: 30px
    }

    .jumbotron {
        border-bottom: 0
    }
}

h2.page-header {
    margin-top: 0
}

footer {
    margin-top: 40px
}

a {
    color: #00B7FF
}

aside {
    float: left;
    width: 250px;
    margin-right: 30px
}

.loginform {
    height: 200px;
    border: 1px solid #0d3349
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

aside ul li {
    padding-left: 20px;
    display: block;
    border: 1px solid #2b81af;
    background-color: #00B7FF;
    line-height: 2em
}

aside ul li a {
    color: #fff;
    font-size: 1.7em;
    text-decoration: none
}

.hide {
    display: none
}

.content li {
    margin-bottom: 15px
}

.comment {
    border: 1px dotted #999;
    background-color: #ccc;
    margin-bottom: 15px
}

body {
    padding: 0;
    margin: 30px auto 0;
    width: 900px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

a {
    color: #00B7FF
}

aside {
    float: left;
    width: 250px;
    margin-right: 30px
}

.loginform {
    height: 200px;
    border: 1px solid #0d3349
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

aside ul li {
    padding-left: 20px;
    display: block;
    border: 1px solid #2b81af;
    background-color: #00B7FF;
    line-height: 2em
}

aside ul li a {
    color: #fff;
    font-size: 1.7em;
    text-decoration: none
}

.hide {
    display: none
}

.comment {
    border: 1px dotted #999;
    background-color: #ccc;
    margin-top: 20px;
    margin-bottom: 20px
}

.drop-box {
    height: 50px;
    border: 2px dotted #528CE0
}

.button {
    border: 1px solid #000;
    width: 150px;
    cursor: pointer
}

.button:hover {
    background-color: #8699a4
}

p.user, li.user {
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 10px;
}

p.user {
    word-wrap: break-word;
    word-break: break-all;
}

.has-error {
    margin-top: 20px;
    color: red;
    background-color: yellow;
}

.msg {
    margin-top: 20px;
    color: darkgreen;
    background-color: darkseagreen;
}

#images .img {
    width: 100%;
}

#images img {
    width:100%;
    height:auto;
    margin-bottom: 20px;
}

a.add-photo {
    text-transform: uppercase;
    border: 2px solid #00B7FF;
    color: #00B7FF;
    height: 50px;
    line-height: 47px;
    padding: 0 32px;
    width: 155px;
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}

a.add-photo:hover {
    border-color: #000;
    color: #000;
    text-decoration: none;
}

#photo .img {
    /*border: 1px dotted #528CE0;*/
    margin-bottom: 10px;
}

.comment h4 > span {
    font-size: 0.7em;
    padding-left: 10px;
}

.comment p {
    background-color: #F5F5DC;
    margin: 0 10px 10px;
    padding: 10px;
}

input.search {
   margin-bottom: 20px;
}

.delete_user {
    margin-left: 10px;
}

li.album button {
    margin-right: 5px !important;
}

.img button {
    margin-right: 5px;
}

.photo_edited {
    margin-top: 10px;
}

.ng-pristine {
    margin-left: 0;
    margin-bottom: 10px;
}


.user img {
    /*float: left;*/
}

.user_profile_info {
    /*float: left;*/
    margin-bottom: 10px;
}

.edited_user_inputs {
    margin-top: 10px;
}

.edited_user_inputs div {
    margin-bottom: 5px;
}

.photo_desc {
    margin-top: 10px;
}

.photo_submit {
    margin-top: 10px;
}

.photo_select {
    margin-right: 10px;
}

.photo_select {
    margin-right: 10px;
}