h2.page-header Users list
div
    .alert.alert-danger(ng-if="errMsg") {{ errMsg }}
    .alert.alert-success(ng-if="msg") {{ msg }}

.content
    if user.isAdmin
        pre(ng-if="delMsg" class="msg") {{ delMsg }}

        input.search(placeholder='search', ng-model='search')
        ul
            li.user(ng-repeat='u in users | filter:{username:search}')
                img(ng-if="u.avatar" ng-src='/img/avatars/{{ u.avatar }}' height="50" width="50")
                | {{u.username }} : {{u.email}}
                button.delete_user(ng-click='delete(u)') Delete
    else
        .alert.alert-danger= 'Login using your username and password!'