h2.page-header Profile
div
    .alert.alert-danger(ng-if="errMsg") {{ errMsg }}
        .alert.alert-success(ng-if="msg") {{ msg }}

.content
    if user
        p.user
            img(ng-if="user.avatar" ng-src='/img/avatars/{{ user.avatar }}' height="100" width="100")
            .user_profile_info {{ user.username }} : {{ user.email }}
            button.edit_user(ng-click='edited = !edited') Edit

        .button.upload_avatar(ngf-select="upload($file)") Upload on file select
        br

        div.edited_user_inputs(ng-if="edited")
            div Username:
            br
            input(type='text', ng-model='user.username')
            br
            div Name:
            br
            input(type='text', ng-model='user.name')
            br
            div Email:
            br
            input(type='email', ng-model='user.email')
            br
            div Change password:
            br
            input(type='password', ng-model='user.password')
            br
            button(ng-click='edit(user)') Save
    else
        .alert.alert-danger= 'Login using your username and password!'