h2.page-header Register
div
    .alert.alert-danger(ng-if="errMsg") {{ errMsg }}

.content
    .form
        .form-group
            label Name
            input.form-control(type='text', ng-model='usr.name')
        .form-group
            label Username
            input.form-control(type='text', ng-model='usr.username')
        .form-group
            label Email
            input.form-control(type='email', ng-model='usr.email')
        .form-group
            label Password
            input.form-control(type='password', ng-model='usr.password')
        .form-group
            label Confirm Password
            input.form-control(type='password', ng-model='usr.password2')
        button.btn.btn-default(ng-click="register()") Register