doctype html
html
  head
    title PhotoBlog
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='/libs/angular.min.js')
    script(src='/libs/angular-resource.min.js')
    script(src="/libs/angular-route.min.js")
    script(src="/libs/ng-file-upload.min.js")

    script(src='/app/app.module.js')
    script(src='/app/app.routes.js')

    script(src="/app/login/login.controller.js")
    script(src="/app/register/register.controller.js")
    script(src="/app/home/home.controller.js")
    script(src="/app/album/album.controller.js")
    script(src="/app/album/album.view.controller.js")
    script(src="/app/photo/photo.controller.js")
    script(src="/app/photo/photo.add.controller.js")
    script(src="/app/user/user.controller.js")

    block scripts

  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-right

            if user
              li(role='presentation')
                a(href='/') Home
              li(role='presentation')
                a(href='#!/album') Albums
              li(role='presentation')
                a(href='#!/photo') Photos
              li(role='presentation')
                a(href='#!/profile') Profile
              if user.isAdmin
                li(role='presentation')
                  a(href='#!/usersListView') UsersList
              li(role='presentation')
                a(href='user/logout') Logout
            else
              li(role='presentation')
                a(href='/') Home
              li(role='presentation')
                a(href='#!/login') Login
              li(role='presentation')
                a(href='#!/register') Register

        h3.text-muted PhotoBlog
      .row
        .col-lg-12

          if success_msg
            each msg_success_msg in success_msg
              .alert.alert-success= msg_success_msg
          if error_msg
            each msg_error_msg in error_msg
              .alert.alert-danger= msg_error_msg
          if error
            each msg_error in error
              .alert.alert-danger= msg_error

          block content
      footer.footer
        p © 2016 PhotoBlog