h2.page-header Photo Add
div
    .alert.alert-danger(ng-if="errMsg") {{ errMsg }}
    .alert.alert-success(ng-if="msg") {{ msg }}

.content
    if user
        form(name='form')
            h1 Upload image
            .button.photo_select(ngf-select ng-model="file" name="file" ngf-max-size="20MB" accept='image/*')
                span(ng-if="!file")
                    | Select file
                span(ng-if="file")
                    | File selected
            img(ngf-thumbnail="file" ngf-size="{width: 100, height: 100}")
            br
            | Album:
            select(ng-model='data.album')
                option(ng-repeat='a in albums' value='{{ a._id }}') {{ a.title }}
            br
            div.photo_desc Photo description:
            br
            textarea(ng-model='data.description')
            br
            | Status photo:
            select(ng-model='data.status')
                option(value='public') Public
                option(value='publicPlus') Public with comments
                option(value='private') Private
            br
            button.photo_submit(type='submit', ng-click="submit()") submit
    else
        .alert.alert-danger= 'Login using your username and password!'