h1 Home page
h2 Pictures in last 24 hours

.content
    #images
        .img(ng-repeat="p in photos | orderBy:'lastEdit':true")
            img(ng-src='/img/uploads/{{ p.title }}')
            .comments(ng-if="p.status == 'publicPlus'" )
                if user
                    button(ng-click='showCom = !showCom') Comments
                    div(ng-if="showCom")
                        h4(ng-if="!p.comments.length") No comments
                        .comment(ng-repeat='c in p.comments')
                            h4 {{ c.user }}
                                span {{ c.date | date:'dd.MM.yyyy HH:mm:ss'}}
                            p {{ c.body }}
                        div
                            | Type comment
                            br
                            textarea(ng-model='comment')
                            br
                            button(ng-click='addCom(p, comment)') Add comment
                            br
                            pre(ng-if="comMsg" class="has-error") {{ comMsg }}