h2.page-header Albums
div
    .alert.alert-danger(ng-if="errMsg") {{ errMsg }}
    .alert.alert-success(ng-if="msg") {{ msg }}

.content
    if user
        ul
            li.album(ng-repeat='a in albums')
                div.album_title {{ a.title }}
                br
                button(ng-click='edited = !edited') Edit
                button(ng-click='delete(a)') Delete
                a(ng-href='#!/album/{{ a._id }}') View Album
                p(ng-if="edited")
                    | Album title:
                    br
                    input(type='text', ng-model='a.title')
                    br
                    | Album description:
                    br
                    textarea(ng-model='a.description')
                    br
                    button(ng-click='edit(a)') Save
                div(ng-if="showCom")
                    p.comment(ng-repeat='c in a.comments')
                        h4 {{ c.date }}
                        br
                        span {{ c.body }}
        button(ng-click='newAlb = !newAlb') New Album
        div(ng-if="newAlb")
            p.title Album title:
            input(type='text', ng-model='alb.title')
            p.description Album description:
            textarea(ng-model='alb.description')
            br
            button(ng-click='save(alb)') Save

    else
        .alert.alert-danger= 'Login using your username and password!'