h2.page-header {{ album.title }} album photo
div
    .alert.alert-danger(ng-if="errMsg") {{ errMsg }}
    .alert.alert-success(ng-if="msg") {{ msg }}

.content
    if user
        div
            div Album title: {{ album.title }}
            br
            div Album description: {{ album.description }}
            br
            a(ng-href='#!/photo/upload' class="add-photo") Add photo
            br
            h3 Photos:
            #images
                .img(ng-repeat="p in photos| orderBy:'created':true" )
                    img(ng-src='/img/uploads/{{ p.title }}')
                    button(ng-click='edited = !edited') Edit
                    button(ng-click='delete(p)') Delete
                    p(ng-if="edited")
                        | Album:
                        select(ng-model='p.album')
                            option(ng-repeat='a in albums' value='{{ a._id }}') {{ a.title }}
                        br
                        | Photo description:
                        br
                        textarea(ng-model='p.description')
                        br
                        | Status photo:
                        select(ng-model='p.status')
                            option(value='public') Public
                            option(value='publicPlus') Public with comments
                            option(value='private') Private
                        br
                        button(ng-click='edit(p)') Save
                    .comments(ng-if="p.status == 'publicPlus'" )
                        button(ng-click='showCom = !showCom') Comments
                        div(ng-if="showCom")
                            h4(ng-if="!p.comments.length") No comments
                            .comment(ng-repeat='c in p.comments')
                                h4 {{ c.user }}
                                    span {{ c.date | date:'dd.MM.yyyy HH:mm:ss'}}
                                p {{ c.body }}
                            div
                                | Type comment
                                br
                                textarea(ng-model='comment')
                                br
                                button(ng-click='addCom(p, comment)') Add comment
                                br
                                pre(ng-if="comMsg" class="has-error") {{ comMsg }}
    else
        .alert.alert-danger= 'Login using your username and password!'